

/* Exercice 2 */

.boutton {
  width: 20%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.btn-one {
  color: white;
  background: #007bff;
}
.btn-one:hover {
  background-color: white;
  color: #007bff;
  border: solid;
}
.btn-two {
  color: white;
  background: #28a745;
}
.btn-two:hover {
  background-color: white;
  color: #28a745;
  border: solid;
}
.btn-three {
  color: white;
  background: #dc3545;
}
.btn-three:hover {
  background-color: white;
  color: #dc3545;
  border: solid;
}

.btn-four {
  color: black;
  background: #ffc107;
}
.btn-four:hover {
  background-color: white;
  color: #ffc107;
  border: solid;
}
.btn-five {
  color: white;
  background: #343a40;
}
.btn-five:hover {
  background-color: white;
  color: black;
  border: solid;
}
.second-boutton {
  width: 20%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-left: 4px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.btn-primary {
  border: solid;
  border-color: #007bff;
  color: #007bff;
  background: white;
}
.btn-success {
  border: solid;
  border-color: #28a745;
  color: #28a745;
  background: white;
}
.btn-danger {
  border: solid;
  border-color: #dc3545;
  color: #dc3545;
  background: white;
}
.btn-warning {
  border: solid;
  background: white;
  color: #ffc107;
}

.btn-dark {
  border: solid;
  color: black;
  background: white;
}
